<?xml version="1.0"?>
<config>

  <modules>
    <Optimiseweb_All>
      <version>0.1.0</version>
    </Optimiseweb_All>
  </modules>

  <frontend>

    <translate>
      <modules>
        <Optimiseweb_All>
          <files>
            <default>Optimiseweb_All.csv</default>
          </files>
        </Optimiseweb_All>
      </modules>
    </translate>

  </frontend>

  <global>

    <blocks>
      <optimiseweball>
        <class>Optimiseweb_All_Block</class>
      </optimiseweball>
    </blocks>

    <helpers>
      <optimiseweball>
        <class>Optimiseweb_All_Helper</class>
      </optimiseweball>
    </helpers>

    <models>
      <optimiseweball>
        <class>Optimiseweb_All_Model</class>
      </optimiseweball>
    </models>

  </global>

  <adminhtml>
    <menu>
      <optimiseweball>
        <title>Optimise Web</title>
        <sort_order>71</sort_order>
      </optimiseweball>
    </menu>
  </adminhtml>

</config>